**/.DS_Store
__pycache__/
create_features_scripts/TransPath/__pycache__/
create_features_scripts/TransPath/*.pyc
create_features_scripts/TransPath/ctranspath.pth
create_features_scripts/TransPath/checkpoint.pth
create_features_scripts/HIPT_4K/Checkpoints/*
create_features_scripts/tenpercent_resnet18.ckpt
create_features_scripts/best_ckpt.pth